@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
}

.App {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;

    &__modal {
        position: absolute;
    }

    &__header {
        color: #ffffff;
        height: 75px;
        background-color: #070707;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #8a8a89e1;
        .logo-container {
            display: flex;
            align-items: center;
            h4 {
                margin-left: 9px;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
        .shortened-address {
            display: none;
            text-decoration: none;
        }
    }

    &__dashboard {
        .top-info--lengthen {
            height: calc(100vh - 236px);
        }
        .top-info {
            padding: 50px 30px;
            background-color: #1e1e1f;
            color: #ffffff;
            .text--background-color {
                background-color: #1e1e1f;
            }
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2 {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 51px;
                    text-align: center;
                }
                .description-sentence {
                    color: #9c9c9b;
                    line-height: 1.35;
                    font-size: 16px;
                }
                .description-paragraph {
                    display: none;
                }
                .eth-logo--mobile {
                    height: 145px;
                    width: 90px;
                    margin: 40px 0;
                }

                .blue-btn {
                    transition: 300ms;
                    background-color: #1421a4;
                }
                .blue-btn:hover {
                    transition: 300ms;
                    background-color: #2230ce;
                }

                .btn-container {
                    display: flex;
                    justify-content: space-between;
                    width: 255px;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Poppins;
                        color: white;
                        font-size: 14px;
                        font-weight: 500;
                        width: 120px;
                        height: 45px;
                    }
                    .gray-btn {
                        transition: 300ms;
                        background-color: #36393a;
                    }
                    .gray-btn:hover {
                        transition: 300ms;
                        background-color: #565a5c;
                    }
                }
                .connect-wallet-container {
                    margin-top: 40px;
                    button {
                        margin-top: 20px;
                        font-size: 18px;
                        font-weight: 500;
                        width: 200px;
                        height: 60px;
                    }
                }
            }
            .eth-logo__container {
                display: none;
            }
        }

        .middle-info {
            width: 100%;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #1e1e1f 50%, white 50%);

            .middle-block__text {
                font-family: Roboto, sans-serif;
                h3 {
                    color: white;
                    font-size: 30px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    span {
                        margin-left: 5px;
                    }
                }
                .prizes {
                    color: white;
                    min-height: 400px;
                    width: 290px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    background: black;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 45px 25px;
                    .ethhub-logo {
                        height: 140px;
                        width: 140px;
                        border: 8px solid white;
                        border-radius: 4px;
                    }
                    h5 {
                        font-size: 20px;
                        font-weight: 500;
                        margin-top: 40px;
                    }
                    p {
                        color: #9e9e9e;
                        font-size: 14px;
                        line-height: 1.38;
                        width: 100%;
                        margin: 2px 0;
                    }
                    .episode-info {
                        margin: 16px 0;
                    }
                }
            }
        }

        .bottom-info {
            margin: 15px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .main-text-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .sub-text-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 35px;
                    h6 {
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        color: rgb(58, 60, 61);
                    }
                    p {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__footer {
        background-color: #1421a4;
        height: 60px;
    }
}

@media only screen and (min-width: 600px) {
    .App {
        &__header {
            padding: 0 32px;
            justify-content: space-between;
            .shortened-address {
                color: white;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .App {
        &__dashboard {
            .middle-info {
                .middle-block__text {
                    width: 80%;
                    max-width: 900px;
                    h3 {
                        width: 100%;
                        font-size: 35px;
                        justify-content: flex-start;
                    }
                    .prizes {
                        width: 100%;
                        min-height: 300px;
                        margin-left: auto;
                        margin-right: auto;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        padding: 25px 50px;
                        .ethhub-logo {
                            height: 175px;
                            width: auto;
                            margin-right: 10px;
                        }
                        &__text {
                            width: 60%;
                            h5 {
                                margin: 0;
                                font-size: 24px;
                                font-weight: 600;
                            }
                            p {
                                font-size: 16px;
                                font-weight: 400;
                            }
                            .attribute {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .bottom-info {
                max-width: 900px;
                width: 80%;
                margin: 50px auto 50px auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .main-text-container {
                    display: flex;
                    justify-content: space-between;
                    width: 230px;
                    .sub-text-container {
                        display: flex;
                        align-items: flex-start;
                        h6 {
                            font-size: 22px;
                            width: 300px;
                        }
                        p {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .App {
        &__dashboard {
            .top-info--lengthen {
                height: calc(100vh - 300px);
            }
            .top-info {
                padding-top: 120px;
                padding-bottom: 80px;
                .text--background-color {
                    margin: 50px auto 0 auto;
                    display: flex;
                    max-width: 900px;
                    width: 80%;
                    // margin-left: auto;
                    // margin-right: auto;
                    .text {
                        display: flex;
                        align-items: flex-start;
                        h2 {
                            font-size: 68px;
                            font-weight: 600;
                            margin-bottom: 16px;
                        }
                        .description-sentence {
                            display: flex;
                            justify-content: flex-start;
                            color: white;
                            font-size: 22px;
                            font-weight: 300;
                            margin-bottom: 18px;
                        }
                        .description-paragraph {
                            display: flex;
                            justify-content: flex-start;
                            text-align: start;
                            color: #9c9c9b;
                            line-height: 1.6;
                            font-size: 12px;
                            font-weight: 300;
                            width: 70%;
                            margin-bottom: 60px;
                        }
                        .eth-logo--mobile {
                            display: none;
                        }
                        .btn-container {
                            width: 276px;
                        }
                        .connect-wallet-container {
                            margin-top: 80px;
                            p {
                                font-size: 22px;
                                font-weight: 500;
                            }
                            button {
                                margin-top: 40px;
                            }
                        }
                    }
                    .eth-logo__container {
                        display: flex;
                        height: 250px;
                        .eth-logo--desktop {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
        &__footer {
            background-color: #1421a4;
            height: 40px;
        }
        &__footer--white {
            display: flex;
            align-items: flex-end;
            background-color: #ffffff;
            height: 20px;
        }
    }
}
